/* Reset CSS*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    // font-family: 'Roboto', Arial, sans-serif;
    font-family: 'Roboto', sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}
a:link {
    color: inherit; /* Sử dụng màu văn bản của thẻ cha */
    text-decoration: none; /* Xóa gạch chân */
}

a:visited {
    color: inherit; /* Sử dụng màu văn bản của thẻ cha */
    text-decoration: none; /* Xóa gạch chân */
}

a:hover {
    color: inherit; /* Sử dụng màu văn bản của thẻ cha */
    text-decoration: none; /* Gạch chân khi hover */
}

a:active {
    color: inherit; /* Sử dụng màu văn bản của thẻ cha */
    text-decoration: none; /* Xóa gạch chân khi click */
}
.open {
    display: flex !important;
}
//width
.w-full{
    width: 100%;
}
.w-2{
    width: 50%;
}
.w-3{
    width: 33.33%;
}
.w-4{
    width: 25%;
}
.w-5{
    width: 20%;
}
.w-80{
    width: 80%;
}
.w-10{
    width: 10%;
}

//
.row {
    margin-left: -8px;
    margin-right: -8px;
}

.col {
    float: left;
}

// .close-element {
//     display: none;
// }

.row::after {
    content: '';
    display: block;
    clear: both;
}

// col flex
.col-25 {
    flex: 0 0 25%;
    max-width: 25%;
    padding: 0 8px;
    padding-right: 16px;
}
.col-20 {
    flex: 0 0 20%;
    max-width: 20%;
    padding: 0 8px;
}
.col-50 {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 8px;
}
.col-75 {
    flex: 0 0 75%;
    max-width: 75%;
    padding: 0 8px;
}
.col-80 {
    flex: 0 0 80%;
    max-width: 80%;
    padding: 0 8px;
}
.col-95 {
    flex: 0 0 95%;
    max-width: 95%;
    padding: 0 8px;
}
.col-100 {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 8px;
    
}
.col-10 {
    flex: 0 0 10%;
    max-width: 10%;
    padding: 0 8px;
}

.col-33 {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
    padding: 0 8px;
}

.col-66 {
    flex: 0 0 66.6666%;
    max-width: 66.6666%;
    padding: 0 8px;
<<<<<<< HEAD
<<<<<<< HEAD
}

.col-30 {
    flex: 0 0 30%;
    max-width: 30%;
    padding: 0 8px;
}

.col-70 {
    flex: 0 0 70%;
    max-width: 70%;
    padding: 0 8px;
=======
>>>>>>> a503d10ea67dc4a8a4eb8e6a56dce9e6c0d636b7
=======
>>>>>>> a503d10ea67dc4a8a4eb8e6a56dce9e6c0d636b7
}

.col-5 {
    flex: 0 0 5%;
    max-width: 5%;
    padding: 0 8px;
}
// padding
.pd--14-16 {
    padding: 14px 16px;
}
.pd--8-12 {
    padding: 8px 12px;
}

.pd-v45 {
    padding: 45px 0;
}
.pd-h-12 {
    padding: 0 12px;
}



// margin
.mt-32{
    margin-top: 32px;
}
.mt-16{
    margin-top: 16px;
}
.mt-12{
    margin-top: 12px;
}

.mt-8{
    margin-top: 8px;
}

.mt-12{
    margin-top: 12px;
}

.mb-8{
    margin-bottom: 8px;
}
.mb-16{
    margin-bottom: 16px;
}
.mb-32{
    margin-bottom: 32px;
}
.mr-8{
    margin-right: 8px;
}
.mr-4{
    margin-right: 4px;
}
// text align
.text-center {
    text-align: center !important;
}

// display flex
.jc-center {
    justify-content: center;
}
.jc-arrow {
    justify-content: space-around;
}
.jc-between {
    justify-content: space-between;
}
.ai-center {
    align-items: center;
}
.d-flex {
    display: flex;
    flex-wrap: wrap;
}
.container {
    position: relative;
    width: 100%;
}
.re-arrow{
    display: inline-block;
    width: 0%;
    height: 2px;
    background: #E03C31;
    line-height: 0px;
    font-size: 0px !important;
    margin-top: 2px;
}

.re-line {
    border: 0;
    float: left;
    width: 1px;
    height: 16px;
    background: #e5e5e5;
}

.btn:hover{
    opacity: 0.8;
    cursor: pointer;
}

<<<<<<< HEAD
<<<<<<< HEAD
#content{
    margin-top: 80px;
}
=======

>>>>>>> a503d10ea67dc4a8a4eb8e6a56dce9e6c0d636b7
=======

>>>>>>> a503d10ea67dc4a8a4eb8e6a56dce9e6c0d636b7
.box-info{
    .user-avatar{
        img{
            width: 42px;
            height: 42px;

            border-radius: 50%;
        }
    }
    .user-info{
        a{
            font-size: 14px;
            max-width: 120px;
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            height: 20px;
            color: #2c2c2c;
        }
    }
   
}
.nav-item{
    a{
        padding: 8px 16px 8px 24px;
        display: block;
        font-size: 14px;
        color: #2c2c2c;
        font-weight: 500;
        i{
            margin-right: 10px;
        }
    }
}
.nav-item:hover{
    background-color: #FFECEB;
}
<<<<<<< HEAD
<<<<<<< HEAD
table {
    width: 100%;
    border-collapse: collapse;
    th {
        background-color: #f2f2f2;
        padding: 8px;
        text-align: left;
    }
    th:nth-child(1) {
        width: 5%;
        text-align: center;
    }

    th:nth-child(2),
    th:nth-child(5) {
        width: 20%;
    }
    th:nth-child(3) {
        width: 30%;
    }
    th:nth-child(4) {
        width: 15%;
    }
    th:nth-child(6) {
        width: 10%;
        // display: flex;
    }
    td:first-child{
        text-align: center;
        font-weight:600;
    }
    td {
        padding: 8px;
        border-bottom: 1px solid #ddd;
        img{
            width: 100px;
            height: 100px;
            border-radius: 4px;
        }
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    td:last-child button {
        margin-right: 5px;
        background-color: #4caf50;
        color: white;
        border: none;
        padding: 8px 16px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        cursor: pointer;
        border-radius: 4px;
    }

    td:last-child button:hover {
        background-color: #45a049;
    }
    .btn {
        outline: none;
        background-color: #1dbfaf;
        margin-top: 12px;
        padding: 12px 16px;
        font-weight: 600;
        color: #fff;
        border: none;
        // width: 100%;
        font-size: 14px;
        border-radius: 8px;
        cursor: pointer;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        i{
            margin-right: 4px;
        }
    }
    .btn-delete{
        background-color: #f44336;
    }
}
#id01 {
    display: none;
    position: fixed;
    z-index: 999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.7);
    padding-top: 50px;

    p {
        font-size: 16px;
        margin: 24px 0 20px 0;
    }
    .close {
        position: absolute;
        right: 35px;
        top: 15px;
        font-size: 40px;
        font-weight: bold;
        color: #f1f1f1;
    }
    
    .close:hover,
    .close:focus {
        color: #f44336;
        cursor: pointer;
    }
    
    .clearfix::after {
        content: '';
        clear: both;
        display: table;
    }
    .modal-content {
        background-color: #fefefe;
        margin: 5% auto 15% auto;
        border: 1px solid #ccc;
        width: 80%;
        padding: 30px;
        border-radius: 10px;
    }

    button {
        padding: 10px 20px;
        border: none;
        cursor: pointer;
    
        opacity: 0.9;
    }
    
    button:hover {
        opacity: 1;
    }
    
    .cancelbtn,
    .deletebtn {
        border-radius: 5px;
        margin: 0 10px;
    }
    
    .cancelbtn {
        background-color: #1ac7b6;
        color: black;
    }
    
    .deletebtn {
        background-color: #f44336;
    }
}
#id01.open{
    display: block !important;
}
=======

>>>>>>> a503d10ea67dc4a8a4eb8e6a56dce9e6c0d636b7
=======

>>>>>>> a503d10ea67dc4a8a4eb8e6a56dce9e6c0d636b7
//form 
.form{
    width: 450px;
    padding: 36px 24px;
    text-align: center;
    background: #fff;
    border-radius: 4px;
    margin: 24px;
    align-self: center;
<<<<<<< HEAD
<<<<<<< HEAD
    box-shadow: 0 2px 5px 0 #888888;
=======
    box-shadow: 0 2px 5px 0 rgba(51, 62, 73, 0.1);
>>>>>>> a503d10ea67dc4a8a4eb8e6a56dce9e6c0d636b7
=======
    box-shadow: 0 2px 5px 0 rgba(51, 62, 73, 0.1);
>>>>>>> a503d10ea67dc4a8a4eb8e6a56dce9e6c0d636b7
    position: relative;
    animation: modalFadein ease .5s;

    .btn-close{
        position: absolute;
        right: 6px;
        top:6px;
        padding: 4px;
        border: none;
        background-color: #fff;
        font-size: 18px;
        color: #999999;
    }

    .form .heading-text{
        font-size: 24px;
       
    }
    
    .form .desc-text{
        text-align: center;
        color: #636d77;
        font-size: 20px;
        font-weight: lighter;
        line-height: 2.4rem;
        margin-top: 16px;
        font-weight: 300;
    }
    
    .form-group{
        display: flex;
        margin-bottom: 12px;
        flex-direction: column;
<<<<<<< HEAD
<<<<<<< HEAD

        option{
            padding: 10px;
        }
=======
>>>>>>> a503d10ea67dc4a8a4eb8e6a56dce9e6c0d636b7
=======
>>>>>>> a503d10ea67dc4a8a4eb8e6a56dce9e6c0d636b7
    }
    
    .form-label,
    .form-message{
    
        text-align: left;
    }
    .form-label{
        font-weight: 700;
        padding-bottom: 6px;
        line-height: 1.8rem;
        font-size: 14px;
    }
    .form-control{
        height: 36px;
        padding: 8px 12px;
        border: 1px solid #b3b3b3;
        border-radius: 4px;
        outline: none;
        font-size: 16px;
    }
    
    .form-control:hover{
        border-color: #1dbfaf;
    }
    
    
    .form-group.invalid .form-control {
        border-color: #f33a58;
    }
      
    .form-group.invalid .form-message {
        color: #f33a58;
    }
    .form-message {
        color: #f33a58;
    }
    .form-message{
        font-size: 14px;
        line-height: 1.6rem;
        // padding: 4px 0 0;
    }
    .submit,.submit-regis,.login-order{
        outline: none;
        background-color: #1dbfaf;
        margin-top: 12px;
        padding: 12px 16px;
        font-weight: 600;
        color: #fff;
        border: none;
        width: 100%;
        font-size: 16px;
        border-radius: 8px;
        cursor: pointer;
    }
    
    .submit:hover,.submit-regis:hover{
        background-color: #1ac7b6;
    }
    
    .forgot-password{
        display: flex;
        justify-content: end;
        padding: 4px;
    }
    .forgot-password a,.btn-register,.btn-login{
        color: #E03C31;
    }
    .forgot-password a:hover,.register:hover{
        opacity: 0.8;
    }
    .register{
        font-weight: 700;
    }
    hr {
        flex-grow: 1;
        border: none;
        border-top: 1px solid #ccc;
        margin: 0 10px;
    }
    .login-order{
       background-color: #fff;
        color: #2c2c2c;
        border: 1px solid #ccc;
     
    }
}
<<<<<<< HEAD
<<<<<<< HEAD

//post news
.post-news{
    padding: 12px;
    background-color: #e5e5e5;
    .container{
        box-shadow: 0 1px 2px 0 #888888;

        background-color: #fff;
        padding: 12px;
        border-radius: 4px;
        border: 1px solid #ccc;
        h1.title-text{
            font-size: 28px;
            text-transform: uppercase;
            text-align: center;
            margin-top: 12px;
            margin-bottom: 24px;
        }
        .box-image , .box-video{
            margin-top: 12px;
            padding: 10px;
            border: 2px dotted #f3dada;
            height: 200px;
            .icon-image{
                position: relative;
                .span-text:first-child{
                    font-size: 48px;
                    color: #d86464;
                }
                .span-text:last-child{
                    position: absolute;
                    color: #d86464;

                }
            }
        }
        .imagePreview{
            .image-container {
                position: relative;
                padding: 6px;
            }
            img {
                padding: 8px;
                width: 80px;
                height: 80px;
                object-fit: cover;
                border-radius: 4px;
                box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
            }
            .remove-btn {
                top: 2px;
                right: 2px;
                position: absolute;
                background: rgba(0, 0, 0, 0.4);
                color: white;
                border: none;
                border-radius: 50%;
                width: 20px;
                height: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
            }
        }
        .form{
            width: 100%;
            box-shadow: none;
            padding: 0;
            margin: 0;
            text-align: start;
            .heading-text{
                width: 100%;
                font-size: 18px;
                margin-top: 10px;
                margin-bottom: 6px;
            }
            
            .btn{
                text-transform:uppercase;
                padding: 14px 16px;
            }
            .btn-review{
                border: 1px solid #1dbfaf;
                color: #1dbfaf;
                background-color: #fff;
            }
            textarea{
                height: auto;
                width: 100%;
                resize: none;
            }
        }
        
    }
}

//new details
.new-details{
    background-color: rgba(0, 0, 0, 0.07);

    .current-new{
        margin-bottom: 10px;
        padding-bottom: 40px;
        border-bottom: 1px solid;
        .content{
            line-height: 1.5;
        }
        .image-current{
            img{
                width: 100%;
                height: 400px;
                border-radius: 4px;
            }
        
        }
        .image-review{
            height: 80px;
            margin-top: 4px;
            .item{
                height: 80px;
                img{
                    height: 100%;
                    border-radius: 4px;
                }
            }
        }
        

        .span-text{
                color: #999999;
                font-size: 14px;
                display: block;
        }
        h2.title-text{
                font-size: 24px;
        }
        .desc-text{
            font-size: 18px;
        }
        .heading-text{
            font-size: 20px;
        }
        .info-base{
            border-top: 1px solid #ccc;
            padding: 18px 0;
            .description{
                .span-text{
                    padding-bottom: 10px;
                }
                .item.item:not(:first-child){
                    padding-left: 40px;
                }
            }
            .action{
                .btn{
                    padding: 10px;
                    i{
                        font-size: 24px;
                    }
                
                }
            }
        }
        .images-news{
            padding: 2px;
        }
        .heading,.desc-details,.features,.info-base,.feedback{
            border: 1px solid #ccc;
            padding: 10px;
            border-radius: 4px;
            margin-top: 4px;
            background-color: #fff;
        }
        .desc-details{
            // border-top: 1px solid #ccc;
            // padding: 18px 0;
            .btn-phone{
                color: #F2F2F2;
                background: #009BA1;
                border-radius: 4px;
                border: none;
            }
        }
        .features{
            // border-top: 1px solid #ccc;
            // padding: 18px 0;
            .item{
                // border-top: 1px solid #ccc;
                padding: 12px 0;
                .span-text{
                    font-size: 16px;
                    color: #2c2c2c;
                    font-weight: 600;
                }
                .span-text:not(:first-child){
                    margin-right:40px;
                }
                .span-text:first-child{
                    margin-right: 16px;
                }

            }
        }
            
    }
    .user-post{
        position: relative;
       .user-content{
        position: sticky;
        z-index: 10; 
        transition: top 0.3s ease; 
       }
        .span-text{
            display: block;
            margin: 10px ;
        }
        .span-text.name{
            color: #2c2c2c;
            font-weight: 600;
        }
        .info-user{
            img{
                height: 60px;
                width: 60px;
                border-radius: 50px;
            }
        }
       

        .info-user{
            border: 1px solid #ccc;
            padding: 10px;
            border-radius: 4px;
            background-color: #fff;
        }
        .contact-user{
            border: 1px solid #ccc;
            background-color: #fff;
            padding: 10px;
            border-radius: 4px; 
            
            margin-top: 4px;
            .heading-text{
                font-size: 18px;
            }
            .btn-phone{
                // color: #F2F2F2;
                background: #009BA1;
                border-radius: 4px;
                width: 100%;
                padding: 4px 8px;
                
                .span-text{
                    color: #F2F2F2;
                    display: block;
                    font-weight: 600;
                    font-size: 14px;
                }
            }
            .btn-mail{
                // color: #009BA1;
                border: 1px solid #ccc;
                margin-top: 12px;
                background: #F2F2F2;
                border-radius: 4px;
                width: 100%;
                padding: 4px 8px;
                .span-text{
                    color: #009BA1;
                    display: block;
                    font-weight: 600;
                    font-size: 14px;
                }
            }
            
        }
    }

    .feedback{
        .star{
            color: #ffeb3b;
        }
        .comment{
            color: #2c2c2c;
        }
        .feedback-user {
            margin-bottom: 12px;
            border-bottom: 1px solid #ddd;
            padding-bottom: 12px;
        }
    }
}
//user
.user{
   
=======
//user
.user{
    margin-top: 80px;
>>>>>>> a503d10ea67dc4a8a4eb8e6a56dce9e6c0d636b7
=======
//user
.user{
    margin-top: 80px;
>>>>>>> a503d10ea67dc4a8a4eb8e6a56dce9e6c0d636b7
    position: relative;
    min-height: 650px;
    .navbar-user{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 280px;
        height: 100%;
        box-shadow: rgba(182, 182, 182, 0.18) 0px 4px 8px;
        // z-index: 99;
        border-bottom: 1px solid #ccc;
        border-right: 1px solid #ccc;
        background-color: #fff;
        .box-info{
            padding: 16px;
            .user-avatar{
                img{
                    width: 64px;
                    height: 64px;

                }
            }
            .user-info{
                a{
                    font-size: 18px;
                    font-weight: 700;
                    max-width: 100%;
                    margin-bottom: 4px;
                }        
            }
        }

        .nav-list{
            // padding: 16px;
            .nav-item{
                a{
                    padding: 12px 16px 12px 24px;
                    font-weight: 600;
                }
            }
            .nav-item:last-child{
                bottom: 0;
            }
        }

        .box-balance{
            padding: 16px;
            .content{
                padding: 16px;
                background-color: #e5e5e5 ;
                border-radius: 6px;
                .desc-text{
                }
                .btn-deposit{
                    background-color: #fff;
                    border-radius: 6px;
                    border: 1px solid #d86464;
                    width: 100%;
                }
            }
        }
    }

    .box-content{
        margin-left: 280px;
<<<<<<< HEAD
<<<<<<< HEAD
        
=======
>>>>>>> a503d10ea67dc4a8a4eb8e6a56dce9e6c0d636b7
=======
>>>>>>> a503d10ea67dc4a8a4eb8e6a56dce9e6c0d636b7
        .form{
            text-align: start;
            width: 100%;

            .title-text{
                font-size: 24px;
            }
            .heading-text{
                font-size: 18px;
            }
            .form-group{
                .form-label[for=avatar]{
                    img{
                        width: 100px;
                        height: 100px;

                        border-radius: 50%;
                    }
                }
            }
        }
<<<<<<< HEAD
<<<<<<< HEAD
        .col-80{
            box-shadow: 0 2px 5px rgba(44, 44, 44, 0.4);
            margin: 12px 0;
        }
        .item{
            margin-bottom: 8px;
            padding: 4px;
            position: relative;
            display: flex;
            align-items: center;
            img{
                width: 100px;
                height: 100px;
                margin-right: 8px;
            }
            .item-container{
                display: flex;
                flex-direction: column; 
                gap: 10px;
            }
            .span-text{
                font-size: 14px;
                display: block;
            }
            span.span-text.red-text.bolder {
                font-size: 16px;
            }
            .action{
                position: absolute;
                bottom: 10px;
                right: 10px;
                padding: 10px;
                display: flex;
                align-items: center;
                .btn{
                    z-index: 100;
                    font-size: 14px;
                    padding: 4px 8px;
                    pointer-events: auto;
                }
                .btn-chat{
                    border-radius: 12px;
                    border: 1px solid #7ddb80;
                    color: #7ddb80;
                }
            }
            pointer-events: auto; 
            .btn, .btn * {
                pointer-events: auto; // Enable pointer events on buttons and their children
            }
        }

        .item:hover{
            box-shadow: 0 2px 5px rgba(44, 44, 44, 0.4);
        }
=======
>>>>>>> a503d10ea67dc4a8a4eb8e6a56dce9e6c0d636b7
=======
>>>>>>> a503d10ea67dc4a8a4eb8e6a56dce9e6c0d636b7
    }
    
}
// header
.header{
    position: fixed;
    z-index: 999;
    border-bottom: solid 1px #ccc;
    background-color: #fff;
    box-shadow: #ccc;
    right: 0;
    left: 0;
    top: 0;
    nav {
        .navbar-list {
            .navbar-item {
                display: inline-grid;
    
                span{
                    font-weight: bold;
                    font-size: 14px;
                    color: #000;
                }
            }
            .navbar-item:hover {
                .re-arrow{
                    width: 100%;
                    transition: 0.3s;
                }
            }
        }
    
        .btn {
            font-size: 14px;
            border-radius: 6px;
            font-weight: bold;
        }
<<<<<<< HEAD
        .btn-like,.btn-notify,.btn-history-like {
=======
        .btn-like,.btn-notify {
<<<<<<< HEAD
>>>>>>> a503d10ea67dc4a8a4eb8e6a56dce9e6c0d636b7
=======
>>>>>>> a503d10ea67dc4a8a4eb8e6a56dce9e6c0d636b7
            font-size: 20px;
        }
        .btn-posted {
            border: solid 1px #f3dada;
        }
        .btn-posted:hover{
            background-color: rgba(229, 231, 231, 1);
        }

        .box-login{
            display: none;
            
        }
        .box-user{
            display: none;
            .box-info{
                position: relative;
                .user-avatar{
                    img{
                        margin-right: 6px;
                    }
                }
                .user-info{
                    margin-right: 6px;

                }
               
            }
            .box-info:hover ~ .user-dropdown{
                display: block;
            }
            .user-dropdown{
                display: none;
                position: absolute;
                top:44px;
                right: 8px;
                background-color: #fff;
                box-shadow: 0px 8px 20px rgba(182, 182, 182, 0.3);
                border-radius: 4px;
                width: 280px;
                border: 1px solid #f3dada;
                padding: 8px 0;

                .nav-item{
                   
                }
                .nav-item:hover{
                    background-color: #FFECEB;
                }
                .nav-item:last-child{
                    border-top: 1px solid #f3dada;
                    padding-top: 4px;
                }
            }
            .user-dropdown.active{
                display: block;
            }

        }
    }
}

// slider
.slider{
    background-image: url('/img/slider-bg.jpg');
    background-attachment: fixed;
    background-size: cover;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    .category{
        button:first-child{
            background-color:rgba(0, 0, 0, 0.6);
            
            span{
                color: #fff;
            }
        }
        button{
            border-radius: 4px 4px 0 0 ;

        }
    }

    .search-content{
        background-color: rgba(0, 0, 0, 0.6);
        padding: 12px;
        border-radius: 0px 4px 4px 4px;

        .search{
            background-color: #fff;
            border-radius: 6px;
            
            .search-box{
                position: relative;
                flex-grow: 1;
                margin-right: 8px;

                .btn-search{
                    position: absolute;
                    right: 0;
                    background-color: #f3a07d;
                    padding: 6px 20px;
                    color: #fff;
                    border-radius: 4px;
                    top: 0;
                    bottom: 0;
                    margin: 6px;
                }
                input[type="text"]{
                    width: 100%;
                    height: 100%;
                    border: none;
                    font-size: 16px;
                }
                input[type="text"]:focus {
                    border-color: none;
                    outline: none;
                }
               
            }

            .search-classer{
                opacity: 0.7;
                border-right: 1px solid #ccc;
                span{
                    margin: 0 6px 0 4px;
                  
                }
            }
        }
    }

    .filter{

        .filter-item{
            background-color: transparent;
            border-radius: 4px;
            border: 1px solid #ccc;
            
           
        }
        

        .btn-refresh{
            background-color: transparent;
            border-radius: 4px;
            
            
        }
        .filter-item,.btn-refresh{
            position: relative;
            span{
                color: #fff;
            }
            i{
                position: absolute;
                right: 8px;
                color: #ccc;
            }
        }
    }


    button{
        border: none
    }
}
.text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.title-text{
    font-size: 18px;
    color: #2c2c2c;
    font-weight: 700;
}
.heading-text{
    font-size: 16px;
    color: #2c2c2c;
    font-weight: 700;
}
.desc-text{
 font-size: 14px;
 color: #2c2c2c;
 font-weight: 700;
}
.span-text{
 font-size: 12px;
}
//home
.home{
    .content-news{
        .news-hot,.news-recent{
            border: 1px solid #ccc;
            border-radius: 4px;
        }
        
        .btn{
            .heading-text{
                opacity: 0.5;
            }
        }
        .active{
            .heading-text{
                opacity: 1;
            }
            .re-arrow{
                width: 100%;
                // transition: 0.3s;
            }
        }
        .btn:hover {
            .heading-text{
                opacity: 1;
            }
            .re-arrow{
                width: 100%;
                transition: 0.3s;
            }
        }

        span{
            display: block;
        }
        .list-item{
            
            .item:not(:first-child,:last-child){
                padding-bottom: 8px;
                padding-top: 8px;

            }
            .item:first-child{
                padding-bottom: 8px;
            }
            .item:last-child{
                padding-top: 8px;
            }
            .item{
                padding-left: 8px;
                padding-right: 8px;

                a{
                    color: #000;
                }
            }
        }
    }
    .content-posts{
        .re-line{
            background: #505050;
            height: 14px;
        }
       
        
    }
    .post-item{
        img{
            height: 200px;
        }
    }
    .col-25.pd--8-12 {
        margin-bottom: 16px;
    }
}
.btn-warning{
    color:#ffeb3b;
}
.btn-like{
    color: #f54336;
}
.btn-share{
    color: #95c5e8;
}

.btn-sm{
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 14px 20px
}
.post-item{
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-shadow: 0 1px 2px rgba(44, 44, 44, 0.2);
    img{
        border-radius: 6px 6px 0 0;  
    }
    

    .location{
        color: #505050;
        display: block;
        font-size: 14px;
    }

    .price,.acreage{
        font-size: 16px;
        color: #E03C31;
        display: block;
    }
    .date{
        color:#999999;
    }
    .btn-like{
        border: 1px solid #ccc;
        border-radius: 4px;
        i{
            padding: 8px;
            font-size: 14px;
        }
    }
}
//rental house
.rental{
    
    .box-filter{
        .span-text{
            font-size: 16px;
            font-weight: bold;
            margin-bottom: 8px;
            display: block;
        }
        .box-item{
            border-radius: 3px;
            box-shadow: 0 1px 2px 0 #888888;
            padding: 12px 8px;
            margin-bottom: 16px;
            ul{
                li{
                    line-height: 1.5;
                }
                li:hover{
                    cursor: pointer;
                    background-color: #FFECEB;
                    opacity: 0.8;
                }
            }
        }
        
    }
    .re-content{
        a{
            color: #999999;
        }
        a:last-child{
            color: #2c2c2c
        }

        .hot{
            color: #74160f;
            background: #FFECEB;
            padding: 4px 8px;
            display: inline-block;
            border-radius: 4px;
            
            i{
                margin-right: 4px;
            }
        }

        .total{
            color: #2c2c2c;
            font-size: 14px;
            display: inline-block;
        }
    }
    .navbar-control{

        
        .navbar-control-item{
            border: 1px solid #ccc;
            border-radius: 4px;
            .active{
                background: #F2F2F2;
            }
            .btn-sm{
                border-right: 1px solid #ccc; 
            }
            .btn-sm,.btn-sl{
                color: #2c2c2c;
                font-size: 12px
            }
        }

        .btn-arrange{
            border: 1px solid #505050;
            border-radius: 4px;
            
            position: relative;
            i{
                position: absolute;
                right: 8px;
            }
            i,span{
                color: #999999;
            }
        }
    }
    .img{
        height: 250px;
        padding: 0;
    }
    .img2{
        height: 50%;
        padding: 0;
    }
    img{
        height: 100%;
        border-top: 1px solid #F2F2F2;
        border-right: 1px solid #F2F2F2;
        border-left: 1px solid #F2F2F2;
        
    }
    .item-content{
        display: block;
        .boder{
            border: 1px solid #ccc;
            border-radius: 0 0 4px 4px;
        }
        .bd-l{
            border-radius: 4px 0 0 0;
        }
        .bd-r{
            border-radius: 0 4px 0 0;
        }
        .heading-text{
            // font-size: 14px;
            text-transform: uppercase;
            line-height: 20px;
            font-weight: bold
        }
        .red-text{
            color: #E03C31;
            font-weight: bold;
            font-size: 16px;
        }
        
        .gray-text{
            color: #505050;
            font-size: 16px;
        }
    }
    .info-user{
        .avatar{
            border-radius: 50%;
        }
        .span-text{
            display: block;
            color: #2c2c2c;
            padding: 2px;
        }
    }
    .btn-phone{
        color: #F2F2F2;
        background: #009BA1;
        border-radius: 4px;
        
    }
    .btn-like{
        border: 1px solid #ccc;
        border-radius: 4px;
        i{
            padding: 8px;
            font-size: 14px;
        }
    }
    .user-content{
        border-top: 1px solid #e5e5e5;
    }
}

//modal
.modal{
    background-color: rgba(10, 13, 20, 0.4);
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
}


@keyframes modalFadein {
    from {
        transform: translateY(-140px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.dark-text{
    color: #2c2c2c;
}

.red-text{
    color: #E03C31;
}

.gray-text{
    color: #888888;
}
.bolder{
    font-weight: bolder
}
@import 'breakpoints';
